* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(66, 68, 100, 0.007);
}

body {
    background-color: blue;
    color: red;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-items {
    height: 90px;
    width: 100%;
}

.nav-links {
    text-decoration: none;
    color: red;
    font-size: 22px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 32px;
    transition: all 200ms ease;
}

.nav-links::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: rgb(208, 15, 15);
    opacity: 0;
    transition: all 200ms ease;
}

.nav-link.rojo {
    width: 10px;
    margin-right: 32px;
    color: rgb(198, 13, 13);
}

.rojo:hover {
    background-color: blue;
    color: red;
}

.rojo::before {
    opacity: 1;
}

.letras {
    color: red;
    background-color: rgb(84, 85, 120);
}
